/* Roboto Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');


/* Common CSS or Utilities Start */
body {
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-weight: 700;
}

.btn {
    font-weight: 500;
}

.btn:hover {
    background-color: black;
    color: white;
}

.custom-font {
    font-size: 14px;
}

.custom-width {
    width: 70%;
}

.custom-width-alt {
    width: 30%;
    text-align: right;
} 

.custom-border {
    border-top: 2px solid black;
}
/* Common CSS or Utilities End */